@model CarService.WebApplication.Areas.Admin.Models.ServiceBookingMechanicAdminViewModel

@{
    ViewBag.Title = @Resource.ChangeMechanicOfBookingTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="body-with-table row">
    <div class="col-md-12 w-100">
        <div style="padding-bottom: 15px;">
            @Html.ActionLink(Resource.ButtonBack, "Show", new { @area = "Admin", bookingServiceId = Model.ServiceBookingId }, new { @class = "btn btn-default w-auto" })
        </div>
        <div class="header-text">
            @Resource.ChangeMechanicOfBookingTitle
        </div>
        <hr />

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.ServiceBookingId)

                <div class="form-group">
                    @Html.LabelFor(model => model.MechanicId, htmlAttributes: new { @class = "control-label col-md-12 default-text" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.MechanicId, new SelectList(Model.Mechanics, "Id", "FullName"), "Wybierz mechanika", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.MechanicId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <input type="submit" value="@Resource.ButtonSave" class="btn btn-success" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>
