@model IEnumerable<CarService.WebApplication.Areas.Admin.Models.ServiceBookingSummaryAdminViewModel>
@section Styles{
    @Styles.Render("~/Content/dataTables")
}
@{
    ViewBag.Title = Resource.Bookings;
    bool isArchived = Model.All(x => x.Status == Resource.BookingStatusFinished || x.Status == Resource.BookingStatusDeclined);
}

<div class="body-with-table row">
    <div class="col-md-12 background-container w-100">
        <div class="header-text" style="margin-bottom:20px;">
            @Resource.Bookings
        </div>

        <table id="adminBookIndexTable" class="table table-condensed display" style="width:100%">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.CarName)</th>
                    <th>@Html.DisplayNameFor(model => model.ServiceName)</th>
                    <th>@Html.DisplayNameFor(model => model.DateThatClientSelect)</th>
                    <th>@Html.DisplayNameFor(model => model.Status)</th>
                    <th>@Html.DisplayNameFor(model => model.Mechanic)</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CarName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ServiceName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateThatClientSelect)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Mechanic)
                        </td>
                        <td>
                            @Html.ActionLink("Szczegóły", "Show", new { @area = "Admin", bookingServiceId = item.Id }, new { @class = "btn btn-primary" })
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
</div>

@section Scripts
{
    @Scripts.Render("~/bundles/dataTables")
    <script>
        (function ($) {
            $("#adminBookIndexTable").DataTable({
                "language": {
                    "url": "/Scripts/DataTable/polishTranslation.json"
                },
                'columnDefs': [
                    {
                        targets: -1,
                        'className': 'dt-body-center'
                    }
                ]
            });
        })(jQuery);
    </script>
}