@model CarService.WebApplication.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = Resource.ForgotPasswordTitle;
    Layout = "~/Views/Shared/_UnathorizeLayout.cshtml";
}

<div class="row">
    <div class="w-40 background-container col-md-6">
        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            <div class="header-text">
                @Resource.ForgotPasswordTitle
            </div>
            <hr />
            @Html.AntiForgeryToken()

            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-12 control-label default-text" })
                <div class="col-md-12">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <input type="submit" class="btn btn-default" value="@Resource.Send" />
                </div>
            </div>
        }

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
    </div>
</div>