@using CarService.WebApplication.Models
@model LoginViewModel
@{
    ViewBag.Title = Resource.LoginTitle;
    Layout = "~/Views/Shared/_UnathorizeLayout.cshtml";
}

<div class="row">
    <div id="loginPageLoginForm" class="background-container" style="opacity:0.9;">
        <div class="">
            <div class="header-text">
                @Resource.LoginTitle
            </div>
            <hr />
            <section id="loginForm">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-12 control-label default-text" })
                        <div class="col-md-12">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-12 control-label default-text" })
                        <div class="col-md-12">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="checkbox default-text">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="submit" value="@Resource.LogIn" class="btn btn-default" />
                        </div>
                    </div>
                    <p>
                        @Html.ActionLink("Zapomniałem hasła", "ForgotPassword")
                    </p>
                }
            </section>
        </div>
    </div>
    <div id="loginPageRedirectRegister" class="background-container" style="opacity:0.9;">
        <div class="header-text col-md-12" style="margin-bottom: 15px;">
            @Resource.RegisterAskTitle
        </div>
        <hr />
        <div class="form-group">
            <div class="col-md-12">
                @Html.ActionLink(Resource.Register, "Register", null, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}