@model IEnumerable<CarService.WebApplication.Areas.Admin.Models.CarManagementSummaryViewModel>
@section Styles{
    @Styles.Render("~/Content/dataTables")
}

@{
    ViewBag.Title = Resource.Cars;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row body-with-table">
    <div class="col-md-12 background-container w-100">
        <div class="row">
            <div class="col-xs-7 header-text">
                @Resource.Cars
            </div>
            <div class="col-xs-5">
                @Html.ActionLink("Dodaj nową markę", "Add", null, new { @class = "btn btn-default w-auto right" })
            </div>
        </div>
       
        <hr />

        <table id="car-management" class="table table-condensed display" style="width:100%">
            <thead>
                <tr>
                    <th></th>
                    <th>Modele</th>
                    <th>Status</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CarBrandName)
                            @Html.ActionLink("Edytuj nazwę", "Update", new { @carBrandId = item.CarBrandId }, new { @class = "btn btn-sm primary-text-color" })
                            @Html.ActionLink("Dodaj model", "AddNewModel", new { carBrandId = item.CarBrandId }, new { @class = "btn btn-sm primary-text-color" })
                        </td>
                        @if (string.IsNullOrEmpty(item.CarModelName))
                        {
                            <td>@Html.DisplayName("Brak modeli")</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        }
                        else
                        {
                            <td>@Html.DisplayFor(modelItem => item.CarModelName)</td>
                            <td>@Html.DisplayName((item.Active == 1 ? "Aktywny" : "Nieaktywny"))</td>
                            <td>
                                @if (item.Active == 1)
                                {
                                    @Html.ActionLink("Dezaktywuj", "DeleteModel", new { carModelId = item.CarModelId }, new { @class = "btn  btn-default" })
                                }
                                else
                                {
                                    @Html.ActionLink("Aktywuj", "ReactivateModel", new { carModelId = item.CarModelId }, new { @class = "btn btn-default" })
                                }
                            </td>
                            <td>
                                @Html.ActionLink("Edytuj", "UpdateModel", new { carModelId = item.CarModelId }, new { @class = "btn btn-primary right" })
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@section Scripts
{
    @Scripts.Render("~/bundles/dataTables")
    <script>
        (function ($) {
            var brandName = 0;
            var modelName = 1;
            $("#car-management").DataTable({
                "language": {
                    "url": 'http://cdn.datatables.net/plug-ins/1.10.20/i18n/Polish.json'
                },
                "paging": false,
                "searching": true,
                "columnDefs": [
                    {
                        "targets": [brandName],
                        "visible": false
                    },
                    {
                        targets: [-2, -1], //disable order edit column
                        'orderable': false
                    }
                ],
                "order": [[brandName, 'asc'], [modelName, 'asc']],
                "orderFixed": [[brandName, 'asc']],
                "drawCallback": function (settings) {
                    var api = this.api();
                    var rows = api.rows({ page: 'current' }).nodes();
                    var last = null;

                    api.column(brandName, { page: 'current' }).data().each(function (group, i) {
                        if (last !== group) {
                            $(rows).eq(i).before(
                                '<tr class="group "><td style="font-weight: 900" colspan="7">' + group + '</td></tr>'
                            );
                            last = group;
                        }
                    });
                }
            });
        })(jQuery);
    </script>
}