@model CarService.WebApplication.Models.ServiceBooking.ServiceBookingFormViewModel

<div class="form-group">
    @Html.LabelFor(model => model.AsSoonAsPossible, htmlAttributes: new { @class = "control-label col-md-12 default-text" })
    <div class="col-md-11">
        <label class="col-md-12">@Html.RadioButton("AsSoonAsPossible", true, Model.AsSoonAsPossible, new { @class = "radioButtonAsSoon" }) Jak najszybciej</label>
        <label class="col-md-12">@Html.RadioButton("AsSoonAsPossible", false, !Model.AsSoonAsPossible, new { @class = "radioButtonSelectDate" }) Wybierz datę</label>
        @Html.ValidationMessageFor(model => model.AsSoonAsPossible, "", new { @class = "text-danger" })
    </div>
</div>


<div id="dateOfService" class="form-group @(Model.AsSoonAsPossible ? "hidden" : "")">
    @Html.LabelFor(model => model.DateCreated, htmlAttributes: new { @class = "control-label col-md-12 default-text" })
    <div class="col-md-11">
        @Html.EditorFor(model => model.DateCreated, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.DateCreated, "", new { @class = "text-danger" })
    </div>
</div>