@model IEnumerable<CarService.WebApplication.Models.User.UserBasicViewModel>
@section Styles{
    @Styles.Render("~/Content/dataTables")
}
@{
    ViewBag.Title = Resource.Users;
}

<div class="row body-with-table" style="margin-bottom: 20px;">
    <div class="col-md-12 w-100">


        <div class="row">
            <div class="col-xs-7 header-text">
                @Resource.Users
            </div>
            <div class="col-xs-5">
                @Html.ActionLink(@Resource.AddMechanic, "Add", "Users", new { @area = "Admin" }, new { @class = "btn btn-default w-auto right" })
            </div>
        </div>

        <hr />

        <div class="row">
            <div class="col-md-12">
                <table id="userstable" class="table table-condensed display" style="width:100%">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Name)</th>
                            <th>@Html.DisplayNameFor(model => model.Surname)</th>
                            <th>@Html.DisplayNameFor(model => model.Email)</th>
                            <th>@Html.DisplayNameFor(model => model.Roles)</th>
                            <th>@Html.DisplayNameFor(model => model.Active)</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Surname)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Roles)
                                </td>
                                <td>
                                    @Html.DisplayName((item.Active ? "Odblokowany" : "Zablokowany"))
                                </td>
                                <td>
                                    @using (Html.BeginForm((@item.Active ? "Delete" : "Activate"), "Users", new { @userId = item.Id, @area = "Admin" }, FormMethod.Post, new { }))
                                    {
                                        <input type="submit" class="btn btn-default" value="@(item.Active ? "Zablokuj" : "Odblokuj")" />
                                    }
                                </td>
                                <td>
                                    @Html.ActionLink(Resource.ButtonEdit, "Edit", new { userId = item.Id }, new { @class = "btn btn-primary" })
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/dataTables")
    <script>
        (function ($) {
            var nameColumn = 0;
            var surnamecolumn = 1;
            var activeColumn = 4;
            $("#userstable").DataTable({
                "language": {
                    "url": 'http://cdn.datatables.net/plug-ins/1.10.20/i18n/Polish.json'
                },
                'columnDefs': [
                    {
                        targets: -1,
                        'className': 'dt-body-center',
                    },
                    {
                        targets: [-1, -2],
                        'orderable': false
                    }
                ],
                "order": [[activeColumn, 'asc'], [nameColumn, 'asc'], [surnamecolumn, 'asc']]
            });
        })(jQuery);
    </script>
}