@using CarService.WebApplication.Helpers

@using (Html.BeginForm("LogOff", "Account", new { @area = "" }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
{
    @Html.AntiForgeryToken()
    <ul class="nav navbar-nav navbar-right">
        @if (User.IsInRole(SystemRoles.Admin) || User.IsInRole(SystemRoles.Mechanic))
        {
            <li>@Html.ActionLink(Resource.OldBookings, "Archived", "Book", new { @area = "Admin" }, null)</li>
        }
        @if (User.IsInRole(SystemRoles.Admin))
        {
            <li>@Html.ActionLink(Resource.Cars, "Index", "Car", new { @area = "Admin" }, null)</li>
            <li>@Html.ActionLink(Resource.Services, "Index", "Service", new { @area = "Admin" }, null)</li>
            <li>@Html.ActionLink(Resource.Users, "Index", "Users", new { @area = "Admin" }, null)</li>
        }

        @if (User.IsInRole(SystemRoles.User))
        {
            <li>@Html.ActionLink(Resource.Cars, "Index", "Car", new { @area = "" }, null)</li>
            <li>@Html.ActionLink(Resource.Services, "Index", "Book", new { @area = "" }, null)</li>
        }
        <li>
            @Html.ActionLink(Resource.Settings, "Index", "Manage", new { @area = "" }, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">@Resource.LogOff</a></li>
    </ul>
}