@model IEnumerable<CarService.Logic.ModelsDTO.ServiceDTO>
@{
    ViewBag.Title = Resource.Services;
}
@section Styles{
    @Styles.Render("~/Content/dataTables")
}

<div class="body-with-table row">
    <div class="col-md-12 w-100">
        <div class="row" style="margin-bottom: 20px;">
            <div class="col-xs-7 header-text">
                @Resource.Services
            </div>
            <div class="col-xs-5">
                @Html.ActionLink("Dodaj nową usługę", "Add", "Service", new { @area = "Admin" }, new { @class = "btn btn-default w-auto right" })
            </div>
        </div>
        <table id="servicesTable" class="table table-condensed display" style="width: 100%">
            <thead>
                <tr>
                    <th>@Html.DisplayName(Resource.Name)</th>
                    <th>Wymagany komentarz</th>
                    <th>Status</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                        <td>@Html.DisplayName((item.RequiredComment ? "Tak" : "Nie"))</td>
                        <td>@Html.DisplayName((item.Active ? "Aktywna" : "Nieaktywna"))</td>
                        <td>
                            @using (Html.BeginForm((@item.Active ? "Delete" : "Activate"), "Service", new { @serviceId = item.Id, @area = "Admin" }, FormMethod.Post, new { }))
                            {
                                <input type="submit" class="btn btn-default" value="@(item.Active ? "Zablokuj" : "Odblokuj")" />
                            }
                        </td>
                        <td>
                            @Html.ActionLink(Resource.ButtonEdit, "Edit", new { id = item.Id }, new { @class = "btn btn-primary" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts
{
    @Scripts.Render("~/bundles/dataTables")
    <script>
        (function ($) {
            var nameColumn = 0;
            var activeColumn = 2;
            $("#servicesTable").DataTable({
                "language": {
                    "url": 'http://cdn.datatables.net/plug-ins/1.10.20/i18n/Polish.json'
                },
                'columnDefs': [
                    {
                        targets: -1,
                        'className': 'dt-body-center',
                    },
                    {
                        targets: [-1, -2],
                        'orderable': false
                    }
                ],
                "order": [[activeColumn, 'asc'], [nameColumn, 'asc']]
            });
        })(jQuery);
    </script>
}