@model IEnumerable<CarService.WebApplication.Models.Car.CarSummaryViewModel>
@section Styles{
    @Styles.Render("~/Content/dataTables")
}
@{
    ViewBag.Title = @Resource.YourCars;
    bool anyOldCar = Model.Any(x => x.Active == false);
}

<div class="body-with-table row">
    <div class="col-md-12 w-100">
        <div class="row" style="margin-bottom: 20px;">
            <div class="col-xs-7 header-text">
                @Resource.YourCars
            </div>
            <div class="col-xs-5">
                @Html.ActionLink(@Resource.ButtonAdd, "Add", "Car", new { @area = "" }, new { @class = "btn btn-default w-auto right" })
            </div>
        </div>
        <hr />

        <div class="row" style="margin-top:1vh">
            <div class="col-md-12">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" }) @*for error when cannot delete car*@
                <table id="userCarIndex" class="table table-condensed display" style="width:100%">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Model)</th>
                            <th>@Html.DisplayNameFor(model => model.Year)</th>
                            <th>@Html.DisplayNameFor(model => model.EngineCapacity)</th>
                            <th>@Html.DisplayNameFor(model => model.Transmission)</th>
                            <th>@Html.DisplayNameFor(model => model.Odometer)</th>
                            <th>@Html.DisplayNameFor(model => model.Fuel)</th>
                            <th>@Html.DisplayNameFor(model => model.EnginePower)</th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Where(x => x.Active))
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Model)</td>
                                <td>@Html.DisplayFor(modelItem => item.Year)</td>
                                <td>@Html.DisplayFor(modelItem => item.EngineCapacity)<span> cm<sup>3</sup></span></td>
                                <td>@Html.DisplayFor(modelItem => item.Transmission)</td>
                                <td>@Html.DisplayFor(modelItem => item.Odometer)<span> km</span></td>
                                <td>@Html.DisplayFor(modelItem => item.Fuel)</td>
                                <td>@Html.DisplayFor(modelItem => item.EnginePower)<span> KM</span></td>
                                <td>@Html.ActionLink(Resource.History, "History", "Car", new { @area = "", carId = item.Id }, new { @class = "btn btn-default" })</td>
                                <td>@Html.ActionLink(Resource.ButtonEdit, "Edit", new { carId = item.Id }, new { @class = "btn btn-default" })</td>
                                <td>
                                    @using (Html.BeginForm("Delete", "Car", new { @carId = item.Id, @area = "" }, FormMethod.Post, new { @class = "form-horizontal" }))
                                    {
                                        <input type="submit" class="btn btn-primary" value="@Resource.ButtonDelete" />
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                    @if(Model.Where(x => x.Active).Any())
                    {
                        <tfoot>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.Model)</th>
                                <th>@Html.DisplayNameFor(model => model.Year)</th>
                                <th>@Html.DisplayNameFor(model => model.EngineCapacity)</th>
                                <th>@Html.DisplayNameFor(model => model.Transmission)</th>
                                <th>@Html.DisplayNameFor(model => model.Odometer)</th>
                                <th>@Html.DisplayNameFor(model => model.Fuel)</th>
                                <th>@Html.DisplayNameFor(model => model.EnginePower)</th>
                            </tr>
                        </tfoot>
                    }
                </table>
            </div>
        </div>
        @if (anyOldCar)
        {
            <div class="row" style="margin-top: 20px">
                <div class="col-md-12">
                    @Html.ActionLink("Zobacz stare samochody", "PreviousCars", "Car", new { @area = "" }, new { @class = "btn btn-default" })
                </div>
            </div>
        }
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/dataTables")
    <script>
        (function ($) {
            $("#userCarIndex").DataTable({
                initComplete: function () {
                    this.api().columns().every(function () {
                        var column = this;
                        var select = $('<select><option value=""></option></select>')
                            .appendTo($(column.footer()).empty())
                            .on('change', function () {
                                var val = $.fn.dataTable.util.escapeRegex(
                                    $(this).val()
                                );

                                column
                                    .search(val ? '^' + val + '$' : '', true, false)
                                    .draw();
                            });

                        column.data().unique().sort().each(function (d, j) {
                            if (d != '') {
                                select.append('<option value="' + d + '">' + d + '</option>')
                            }
                        });
                    });
                },
                "language": {
                    "url": 'http://cdn.datatables.net/plug-ins/1.10.20/i18n/Polish.json'
                },
                'columnDefs': [
                    {
                        targets: -1,
                        'className': 'dt-body-center',
                    },
                    {
                        targets: [-1, -2, -3],
                        'orderable': false
                    }
                ]
            });
        })(jQuery);
    </script>
}
